@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

.container {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 100px;
}
.container img {
  width: 193.15px;
  height: 33.3px;
  margin-top: 95px;
  margin-right: 186px;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
}

.list {
  font-style: normal;
  font-size: 18px;
  line-height: 42px;
  color: #002240;
  margin-top: 87px;
  margin-right: 35px;
}

.list h3 {
  font-weight: bold;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address div {
  margin: 0;
  width: 80%;
}

.address .contact {
  margin-top: 87px;
}

/* Privacy Part*/
.foot {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 92px;
  background-image: url("../../img/footer_waves.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.foot .terms h3 {
  margin-bottom: 19px;
}

.foot .terms p {
  margin-bottom: 102px;
}

.foot .social {
  display: flex;
}
/* Social Links */
.social {
  font-size: 30px;
  border-radius: 50px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
.social li {
  margin: 0 15px;
}

.social li .facebook {
  background: #35589d;
  border-radius: 100%;
  padding: 5px 12px;
}
.social li .twitter {
  background: #5da8dc;
  border-radius: 100%;
  padding: 5px 10px;
}
.social li .linkedin {
  background: #337bb1;
  border-radius: 100%;
  padding: 5px 10px;
}
.social li a {
  color: #fff;
}
.social li a:hover {
  color: #11abb0;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 0 0 61.99px;
  }

  .container img {
    width: 103.13px;
    height: 17.95px;
    margin-top: 51.21px;
    margin-right: 105.88px;
  }

  .list {
    font-size: 16px;
    line-height: 32px;
    margin-top: 51.21px;
    margin-right: 50px;
  }

  .address {
    margin-left: 14px;
    justify-content: center;
    align-items: center;
  }

  .address .contact {
    margin-top: 51.21px;
  }

  .foot {
    padding: 52px;
  }

  .foot .terms h3 {
    margin-bottom: 22.56px;
  }

  .foot .terms p {
    margin-bottom: 45px;
  }

  .social {
    font-size: 20px;
  }

  .social li {
    margin: 0 15px 78px 0;
  }
}
