@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

.container {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 6.25rem;
}
.container img {
  width: 12.072rem;
  height: 2.081rem;
  margin-top: 5.938rem;
  margin-right: 11.625rem;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
}

.list {
  font-style: normal;
  font-size: 1.125rem;
  line-height: 2.625rem;
  color: #002240;
  margin-top: 5.438rem;
  margin-right: 2.188rem;
}

.list h3 {
  font-weight: bold;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address div {
  margin: 0;
  width: 80%;
}

.address .contact {
  margin-top: 5.438rem;
}

/* Privacy Part*/
.foot {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 5.75rem;
  background-image: url("../../img/footer_waves.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.foot .terms h3 {
  margin-bottom: 1.188rem;
}

.foot .terms h3 span {
  padding-left: 2rem;
}

.foot .terms p {
  margin-bottom: 6.375rem;
}

.foot .social {
  display: flex;
}
/* Social Links */
.social {
  font-size: 1.875rem;
  border-radius: 3.125rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
.social li {
  margin: 0 0.94rem;
}

.social li .facebook {
  background: #35589d;
  border-radius: 100%;
  padding: 0.313rem 0.75rem;
}
.social li .twitter {
  background: #5da8dc;
  border-radius: 100%;
  padding: 0.313rem 0.63rem;
}
.social li .linkedin {
  background: #337bb1;
  border-radius: 100%;
  padding: 0.313rem 0.63rem;
}
.social li a {
  color: #fff;
}
.social li a:hover {
  color: #11abb0;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 0 0 61.99px;
  }

  .container img {
    width: 6.45rem;
    height: 1.122rem;
    margin-top: 3.201rem;
    margin-right: 6.618rem;
  }

  .list {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 3.201rem;
    margin-right: 3.125rem;
  }

  .address {
    margin-left: 0.875rem;
    justify-content: center;
    align-items: center;
  }

  .address .contact {
    margin-top: 3.201rem;
  }

  .foot {
    padding: 3.25rem;
  }

  .foot .terms h3 {
    margin-bottom: 1.4rem;
  }

  .foot .terms p {
    margin-bottom: 2.8rem;
  }

  .social {
    font-size: 1.25rem;
  }

  .social li {
    margin: 0 0.94rem 4.9rem 0;
  }
}

@media screen and (max-width: 320px) {
  .container {
    flex-direction: column;
    padding: 0 0 0 1.7rem;
  }

  .container img {
    width: 8rem;
    height: 1.4rem;
    margin-top: 2.25rem;
    margin-right: 10.34rem;
  }

  .list {
    width: 7.7rem;
    font-size: 0.875rem;
    line-height: 2rem;
    margin-top: 1.9rem;
    margin-right: 1rem;
  }

  .address {
    width: 7.7rem;
    font-size: 0.6rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .address div {
    width: 100%;
  }

  .address .contact {
    margin-top: 1.9rem;
  }

  .foot {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 2.44rem;
    padding-bottom: 2.2rem;
  }
  .foot .terms h3 {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
  }

  .foot .terms h3 span {
    display: block;
    padding-top: 0.94rem;
  }

  .foot .terms p {
    width: 17rem;
    font-size: 0.875rem;
    line-height: 2rem;
    margin-bottom: 1.9rem;
    text-align: left;
  }

  .social {
    height: 3.125rem;
    font-size: 1.25rem;
    margin-bottom: 1.9rem;
  }

  .social li {
    margin: 0;
    padding: 5px 10px;
  }
}
