@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

/* Mission container styling */
.container {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  padding: 110px;
}

/* End of Mission Container styling */

/* Heading Text Styling */
.heading {
  text-align: center;
  padding-top: 80px;
}

.heading h1 {
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  color: #002240;
}

.heading h3 {
  height: 59px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 181%;
  letter-spacing: 0.01em;
  font-feature-settings: "kern" off;
  color: #537089;
}

/* End Heading Text Styling */

/* Culture Component Styling */
.cultures {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  padding: 53px 80px 53px 0;
  /* margin: 0 80px; */
}

.card img {
  padding: 18px 0;
}

.card h2 {
  font-size: 21px;
  line-height: 34px;
  color: #002240;
  height: 42px;
}

.card p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  height: 121px;
}

/* End Culture Component Styling */

/* Text and Join a Team styling */
.join {
  text-align: center;
}

.join p {
  height: 48px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 181%;
  color: #002240;
}

.join a {
  background: #0688fa;
  border-radius: 5px;
  color: #ffffff;
  mix-blend-mode: normal;
  padding: 20px 37px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
}

/* End of Text and Join a Team styling */

/* Media Query */
@media screen and (max-width: 768px) {
  .container {
    padding: 49px 69px;
  }

  .heading {
    padding-top: 0;
  }

  .heading h1 {
    margin-bottom: 16.58px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
  }

  .heading h3 {
    height: 51px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding: 0 100px;
  }

  .card {
    width: 100%;
    padding: 45px 40px 69px 0;
    /* margin: 0 80px; */
  }

  .card img {
    padding: 19px 0;
  }

  .card h2 {
    font-size: 16px;
    line-height: 24px;
    height: 17px;
    margin-bottom: 20.99px;
  }

  .card p {
    font-size: 16px;
    height: 127px;
    padding-top: 10px;
  }

  .join p {
    height: 60px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 100px 20px;
  }

  .join a {
    padding: 14px 21px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    padding: 36px 24px;
    border: 2px solid;
  }

  /* End of Mission Container styling */

  /* Heading Text Styling */
  .heading {
    text-align: left;
    padding-top: 0;
  }

  .heading h1 {
    margin-bottom: 7px;
    font-size: 28px;
    line-height: 31px;
  }

  .heading h3 {
    height: 91px;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }

  /* End Heading Text Styling */

  /* Culture Component Styling */
  .cultures {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .card {
    width: 100%;
    padding: 27px 0 0 0;
  }

  .card img {
    padding: 10px 0;
  }

  .card h2 {
    font-size: 16px;
    line-height: 24px;
    height: 17px;
  }

  .card p {
    font-size: 16px;
    height: 87px;
    padding-top: 0;
  }

  /* End Culture Component Styling */

  /* Text and Join a Team styling */
  .join {
    text-align: left;
  }

  .join p {
    height: 80px;
    font-size: 16px;
    line-height: 24px;
    margin: 22px 0 20px 0;
  }

  .join a {
    padding: 15px 74px 17px 74px;
    font-size: 16px;
    line-height: 20px;
  }
}
