@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

/* Mission container styling */
.container {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  padding: 6.9rem;
}

/* End of Mission Container styling */

/* Heading Text Styling */
.heading {
  text-align: center;
  padding-top: 5rem;
}

.heading h1 {
  margin-bottom: 1.9rem;
  font-weight: bold;
  font-size: 3.63rem;
  line-height: 3.9rem;
  color: #002240;
}

.heading h3 {
  height: 3.7rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 181%;
  letter-spacing: 0.01em;
  font-feature-settings: "kern" off;
  color: #537089;
}

/* End Heading Text Styling */

/* Culture Component Styling */
.cultures {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  padding: 3.3rem 5rem 3.3rem 0;
  /* margin: 0 5rem; */
}

.card img {
  padding: 1.13rem 0;
}

.card h2 {
  font-size: 1.3rem;
  line-height: 2.13rem;
  color: #002240;
  height: 2.63rem;
}

.card p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.13rem;
  height: 7.6rem;
}

/* End Culture Component Styling */

/* Text and Join a Team styling */
.join {
  text-align: center;
}

.join p {
  height: 3rem;
  margin-bottom: 2.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 181%;
  color: #002240;
}

.join a {
  background: #0688fa;
  border-radius: 5px;
  color: #ffffff;
  mix-blend-mode: normal;
  padding: 1.25rem 2.31rem;
  font-weight: bold;
  font-size: 1.13rem;
  line-height: 1.44rem;
  text-decoration: none;
  transition: background-color 650ms;
}

.join a:hover {
  background-color: #fff;
  color: #0688fa;
  border: 1px solid #0688fa;
}

/* End of Text and Join a Team styling */

/* Media Query */
@media screen and (max-width: 768px) {
  .container {
    padding: 3rem 4.3rem;
  }

  .heading {
    padding-top: 0;
  }

  .heading h1 {
    margin-bottom: 16.58px;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.01em;
  }

  .heading h3 {
    height: 3.2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    padding: 0 6.25rem;
  }

  .card {
    width: 100%;
    padding: 45px 2.5rem 4.3rem 0;
    /* margin: 0 5rem; */
  }

  .card img {
    padding: 1.2rem 0;
  }

  .card h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 1.1rem;
    margin-bottom: 1.3rem;
  }

  .card p {
    font-size: 1rem;
    height: 7.94rem;
    padding-top: 0.625rem;
  }

  .join p {
    height: 60px;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 6.25rem 1.25rem;
  }

  .join a {
    padding: 0.88rem 1.3rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 320px) {
  .container {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    padding: 36px 1.5rem;
    border: 2px solid;
  }

  /* End of Mission Container styling */

  /* Heading Text Styling */
  .heading {
    text-align: left;
    padding-top: 0;
  }

  .heading h1 {
    margin-bottom: 7px;
    font-size: 1.75rem;
    line-height: 1.93rem;
  }

  .heading h3 {
    height: 5.7rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0;
  }

  /* End Heading Text Styling */

  /* Culture Component Styling */
  .cultures {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .card {
    width: 100%;
    padding: 1.9rem 0 0 0;
  }

  .card img {
    padding: 0.625rem 0;
  }

  .card h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 1.1rem;
  }

  .card p {
    font-size: 1rem;
    height: 5.44rem;
    padding-top: 0;
  }

  /* End Culture Component Styling */

  /* Text and Join a Team styling */
  .join {
    text-align: left;
  }

  .join p {
    height: 5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.4rem 0 1.25rem 0;
  }

  .join a {
    padding: 0.94rem 4.6rem 1.1rem 4.6rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
