@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

.container {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.container h1 {
  text-align: center;
  margin: 79px 0 67px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #002240;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 104px;
}

.cardDetails {
  width: 528px;
  margin-right: 80px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.cardDetails img {
  padding-top: 35px;
  padding-bottom: 19px;
}

.cardDetails h2 {
  padding: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
}

.cardDetails div {
  width: 200px;
  height: 74px;
  margin: auto;
  margin-bottom: 32px;
}

.cardDetails div h4 {
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #002240;
}
